main {
	display: grid;
	margin-top: 12px;
	width: 100vw;
	grid-template-columns: 1fr;
	justify-items: center;
}
#content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 75px 1fr;
	gap: 12px;
}


#header nav {
	background: var(--whiteColor);
	height: 100%;
	box-shadow: var(--shadowBox);
	border-radius: var(--borderRadius);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 6px 12px;
	gap: 12px;
}
.nav__item {
	display: block;
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--secondaryColor);
	font-size: 1.4rem;
	padding: 0 12px;
}
.nav__item:hover {
	color: var(--primaryColor);
}
.nav__item.profile__btn figure {
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.nav__item.profile__btn figure img {
	border-radius: 50%;
	width: 100%;
}

/* 
media queries brake points
 */
 @media screen and (min-width: 480px) {
	#content {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	#content {
		width: 660px;
	}
}
@media screen and (min-width: 1200px) {
	#content {
		width: 960px;
	}
}
@media screen and (min-width: 1400px) {
	#content {
		width: 1200px;
	}
}