main {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	height: 100%;
	min-height: 100vh;
}
#content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(75px, 90px) 1fr;
	padding: 12px;
}

#header nav {
	background: var(--whiteColor);
	box-shadow: var(--shadowBox);
	border-radius: var(--borderRadius);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 12px;
	gap: 24px;
}
#header nav input.nav__item {
	margin: 0px;
}
.nav__item {
	display: block;
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--secondaryColor);
	font-size: 1.4rem;
}
.nav__item:not(input):hover {
	color: var(--primaryColor);
}
.nav__item.profile__btn figure {
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.nav__item.profile__btn figure img {
	border-radius: 50%;
	width: 100%;
}

/* 
media queries brake points
 */


@media screen and (min-width: 280px) {
	#content {
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
	#content {
		width: 768px;
	}

}
@media screen and (min-width: 1200px) {
	#content {
		width: 960px;
	}

}
@media screen and (min-width: 1400px) {
	#content {
		width: 1200px;
	}

}
