:root {
	--primaryColor: #008cff;
	--secondaryColor: #0167bb;
	--lightPrimaryColor: #5db6ff;
	--whiteColor : #fff;
	--blackColor : #000;
	--accentColor: #ffe600;
	--darkAccentColor: #e9d200;
	--lightAccentColor: #fff59e;
	--errorColor: #fd655a;
	--errorLightColor: #fcaba5;
	--warningColor: #fdef6c;
	--warningLightColor: #faf192;
	--successColor: #63c466;
	--successLightColor: #a3e4a6;
	--infoColor: #51acf7;
	--infoLightColor: #5bb0f7;
	--lightColor: #f6f6f6;
	--lightDarkColor: #ececec;
	--darkColor: #370666;
	--textColor: #3a3a3a;
	--lightTextColor: #b9b9b9;
	--darkTextColor: #370666;
	--lightText: 400;
	--regularText: 400;
	--boldText: 700;
	--borderColor: #cececeb0;
	--shadowBox: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
	--shadowBoxHover: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
	--borderRadius: 5px;
	--background : #f5f5f5;
	/* --background : #252427; */
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	
	background: var(--background);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
	appearance: none;
	outline: none;
	border: 1px solid var(--borderColor);
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="checkbox"]:checked {
	background-color: red;
	border: 1px solid red;
	color: red;
}

.btn {
	padding: 12px 14px;
	margin: 8px 0;
	border: none;
	border-radius: var(--borderRadius);
	cursor: pointer;
	width: 100%;
	font-size: 1rem;
	transition: all 0.25s ease;
	position: relative;

}
.btn svg, .btn i {
	grid-column: span 1;
}
.btn span {
	grid-column: 2/3;
}
.btn:has(svg), .btn:has(i) {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	column-gap: 8px;
}

.btn.fit{
	max-width: fit-content;
}
.btn-default {
	background-color: var(--primaryColor);
	color: var(--lightColor);
}
.form__group {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.btn-default{
	background-color: var(--lightColor);
	color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
}
.btn-default:hover{
	background-color: var(--primaryColor);
	color: var(--lightColor);
	box-shadow: var(--shadowBoxHover);
}
.btn-default:active{
	background-color: var(--primaryColor);
	color: var(--lightTextColor);
}
.btn-default:focus{
	background-color: var(--lightPrimaryColor);
	color: var(--lightColor);
}
.btn-default:disabled{
	background-color: var(--lightColor);
	color: var(--lightColor);
}

.btn.danger{
	border:1px solid var(--errorColor);
	color: var(--errorColor);
}
.btn.danger:hover{
	background-color: var(--errorColor);
	color: var(--lightColor);
	box-shadow: var(--shadowBoxHover);
}
.btn.danger:active{
	background-color: var(--errorColor);
	color: var(--lightTextColor);
}
.btn.danger:focus{
	background-color: var(--errorLightColor);
	color: var(--lightColor);
}
.btn.danger:disabled{
	background-color: var(--lightColor);
	color: var(--lightTextColor);
}

.btn.warning{
	border:1px solid var(--warningColor);
	color: var(--warningColor);
}
.btn.warning:hover{
	background-color: var(--warningColor);
	color: var(--lightColor);
	box-shadow: var(--shadowBoxHover);
}
.btn.warning:active{
	background-color: var(--warningColor);
	color: var(--lightTextColor);
}

.btn.warning:focus{
	background-color: var(--warningLightColor);
	color: var(--lightColor);
}
.btn.warning:disabled{
	background-color: var(--lightColor);
	color: var(--lightTextColor);
}

.btn.success{
	border:1px solid var(--successColor);
	color: var(--successColor);
}
.btn.success:hover{
	background-color: var(--successColor);
	color: var(--lightColor);
	box-shadow: var(--shadowBoxHover);
}
.btn.success:active{
	background-color: var(--successColor);
	color: var(--lightTextColor);
}
.btn.success:focus{
	background-color: var(--successLightColor);
	color: var(--lightColor);
}
.btn.success:disabled{
	background-color: var(--lightColor);
	color: var(--lightTextColor);
}

